* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
}

window {
    background-color: rgba(17, 17, 27, 0.85);
}

button {
    color: #cdd6f4;
    background-color: #1e1e2e;
    border-style: solid;
    border-width: 2px;
    border-color: #313244;
    border-radius: 20px;
    margin: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28%;
    transition: all 0.2s ease;
}

button:focus, button:active, button:hover {
    background-color: #89b4fa;
    border-color: #89b4fa;
    outline-style: none;
}

#lock { background-image: image(url("/usr/share/wlogout/icons/lock.png")); }
#logout { background-image: image(url("/usr/share/wlogout/icons/logout.png")); }
#suspend { background-image: image(url("/usr/share/wlogout/icons/suspend.png")); }
#reboot { background-image: image(url("/usr/share/wlogout/icons/reboot.png")); }
#shutdown { background-image: image(url("/usr/share/wlogout/icons/shutdown.png")); }
